# /
/vendor
/.idea
.env
.env.local
node_modules
/cache
/images/gallery
/config/config.db.local.php
/config/taponevent.com/config.db.local.php
/config/taponevent.com/config.local.php
/config/taponevent.com/config.email.php
