/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */


.team-member .social-icons a {
	width: 100%;
	color: #fff;
	text-transform: lowercase;
}

.text-black-444 {
	color: #bbb !important;
}
.text-gray-light {
	color: #bbb !important;
}

.mt-5 {
	margin-top: 10px !important;
}
.font-48 {
	font-size: 3.3rem !important;
}
#footer .social-icons .fa {
	font-size: 30px;
}